--swiftversion 6.0
--indent 4
--maxwidth 120
--commas inline
--trimwhitespace always
--stripunusedargs closure-only
--self remove
--importgrouping alpha
--exclude Diapason.xcodeproj,DerivedData,.build,.swiftpm
